<header *ngIf="!isActiveForm">
  <button
    mat-raised-button
    color="primary"
    (click)="isActiveForm = !isActiveForm"
  >
    Назад
  </button>

  <app-tool-panel
    [pipetteColor]="pipetteColor"
    [pipetteColor2]="pipetteColor2"
    (actualTool)="changeActiveTool($event)"
    (setKernel)="setKernel($event)"
  ></app-tool-panel>
</header>

<form *ngIf="isActiveForm" class="form">
  <div class="input">
    <div class="input-url">
      <mat-form-field>
        <mat-label>Введите URL</mat-label>
        <input matInput #url />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="setCurUrl(url.value)">
        Загрузить
      </button>
    </div>

    <h2 class="input__divider">или</h2>

    <div class="input-file">
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        Выберите файл
      </button>
      <input
        hidden
        (change)="onFileSelected($event)"
        #fileInput
        type="file"
        accept="image/*"
      />
      <span class="input-file__name">{{ selectedFile?.name }}</span>
    </div>
  </div>
</form>

<canvas-view
  *ngIf="!isActiveForm"
  [url]="curUrl"
  [activeTool]="activeTool"
  [kernel]="kernel"
  (lastColor)="setPipetteColor($event)"
  (altColor)="setAltPipetteColor($event)"
></canvas-view>
