<div class="tool-panel">
  <button
    mat-mini-fab
    matTooltip="Переместить"
    [color]="isActive === 'move' && 'warn'"
    (click)="changeActive('move')"
  >
    <mat-icon>pan_tool</mat-icon>
  </button>

  <button
    mat-mini-fab
    matTooltip="Пипетка"
    [color]="isActive === 'pipette' && 'warn'"
    (click)="changeActive('pipette')"
  >
    <mat-icon>colorize</mat-icon>
  </button>

  <button
    mat-mini-fab
    matTooltip="Кривые"
    [color]="isActive === 'curves' && 'warn'"
    (click)="changeActive('curves')"
  >
    <mat-icon>show_chart</mat-icon>
  </button>
</div>

<color-picker
  *ngIf="isActive === 'pipette'"
  [color1]="pipetteColor"
  [color2]="pipetteColor2"
  (close)="changeActive('')"
></color-picker>

<app-curves-correction
  *ngIf="isActive === 'curves'"
  (apply)="applyCurvesCorrection()"
  (reset)="resetCurvesCorrection()"
  (close)="changeActive('')"
>
</app-curves-correction>
